{{define "resetpass"}}
{{template "header" .}}
<div id="resetpass">
    <p class="main-title">{{.Title}}</p>
    <span class="login-user">{{.HospitalName}}さんとしてログインしています</span><br>
    <form action="/resetpass" method="post" class="board-form">
        <span class="label">古いパスワード</span><input type="password" name="oldpass" class="input" required><br>
        <br>
        <span class="label">新しいパスワード</span><input type="password" name="newpass" class="input" required><br>
        <br>
        <button type="submit" class="submit">新規パスワード登録</button><br><br>
        <button type="button" name="logout" onclick="location.href='/logout'">ログアウト</button>
        {{if ne .ErrPassRest ""}}
        <p class="error">{{.ErrPassRest}}</p>
        {{end}}
    </form>
</div>
{{template "footer"}}
{{end}}
